<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDI Modules</title>
    <style>
        .emailContainer {
            width: 100vw;
            background-color: black
        }

        h1 {
            color: white
        }
    </style>
</head>
<body>
    <div class="emailContainer">
    <h1>Thanks {{user.firstName}}</h1>
    <button>Click me</button>
    </div>
</body>
</html>